# ---------------------------
# ANDROID / IDE
# ---------------------------
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# ---------------------------
# BACKEND (Node.js inside project)
# ---------------------------
calorimeter-backend/node_modules/
calorimeter-backend/.env
calorimeter-backend/config/serviceAccountKey.json

# ---------------------------
# OPTIONAL (extra safety)
# ---------------------------
*.log