# Android
.gradle/
build/
app/build/
local.properties

# Release files
*.aab
*.apk
build_output.txt

# Signing
keystore/
*.jks
*.keystore

# Firebase
app/google-services.json

# Node.js
node_modules/
.env

# Backend secrets/config
calorimeter-backend/config/

# IDE
.idea/
*.iml